body {
  font-family: 'Microsoft YaHei',Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.42857143;
  background: #f0f3f6;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #333;
  outline: none;
}