<div class="showNoList">
    <div class="nav-bg">
        <div class="nav-main">
            <ul class="clearfix listbox">
                <li class="active list1"><a href="#">首页</a></li>
                <li class="nav-new"><a href="javascript:void(0)"><img src="img/plus.png" alt="">新建舆情</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="index-none">
            <p>对不起！没有您需要的数据</p>
            <a href="/pages/newYq.html">新建舆情 — — 请点击这里！</a>
            <img src="img/index_none.png" alt="">
        </div>
    </div>
</div>