<div id="add-email-box" class="add-email-box" style="padding: 20px;">
    <form class="form-inline add-email-input" id="emailForm" action="">
        <div class="form-group">
            <label>添加新邮箱：</label>
            <input type="email" required class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-info" id="submit1">添加</button>
    </form>
    <div class="add-email-list">
        <p class="add-email-list-title">选择已有邮箱：</p>
        <ul class="clearfix add-email-ul">
            <script id="addEmailTemplate" type="text/x-handlebars-template">
                {{#each this.data}}
                <li>
                    <div class="cy-checkbox pull-left"><input type="checkbox"><span
                            class="{{#isCheck checked}}{{/isCheck}}"></span></div>
                    {{this}}
                </li>
                {{/each}}
            </script>
        </ul>
    </div>
</div>
